# Brat Tags Data Analysis

## IDs in Brat 

- T: text-bound annotation
- R: relation
- E: event
- A: attribute
- M: modification (alias for attribute, for backward compatibility)
- N: normalization [new in v1.3]

<br> <br>

### Annotation ID conventions
All annotations IDs consist of a single upper-case character identifying the annotation type and a number. The initial ID characters relate to annotation types as follows:

<br>

#### Entity annotations
Each entity annotation has a unique ID and is defined by type (e.g. Person or Organization) and the span of characters containing the entity mention (represented as a "start end" offset pair).

| ID 	| Type And Span      	| Text     	|
|----	|--------------------	|----------	|
| T1 	| Organization 0 4   	| Sony     	|
| T3 	| Organization 33 41 	| Ericsson 	|
| T3 	| Country 75 81      	| Sweden   	|

<br> 

#### Attribute and modification annotations
Attribute annotations are binary or multi-valued "flags" that specify further aspects of other annotations. Attributes have a unique ID and are defined by reference to the ID of the annotation that the attribute marks and the attribute value.

| ID 	| Type & Entity ID  	|
|----	|-------------------	|
| A1 	| Negation T1       	|
| A2 	| Confidence T2     	|

<br>

#### Relation annotations
Binary relations have a unique ID and are defined by their type (e.g. Origin, Part-of) and their arguments.

| ID 	| Type and Args          	|
|----	|------------------------	|
| R1 	| Origin Arg1:T3 Arg2:T4 	|

## First Iteration

- 


| id_parsed 	|          annotation_parsed 	| Count 	|
|----------:	|---------------------------:	|------:	|
| A         	| without-service            	| 63    	|
|           	| location                   	| 38    	|
|           	| duration                   	| 16    	|
|           	| time                       	| 10    	|
|           	| fake-information           	| 2     	|
|           	| with-service               	| 2     	|
|           	| reason                     	| 1     	|
| T         	| circumstantial-information 	| 65    	|
|           	| social-report              	| 39    	|
|           	| electricity                	| 33    	|
|           	| gasoline                   	| 25    	|
|           	| water                      	| 6     	|
|           	| gas                        	| 4     	|

In [12]:
import pandas as pd

### Read Data
original_df = pd.read_csv('brat-v1.3_Crunchy_Frog/data/first-iter/balanced_dataset_brat.ann', sep = '\t',header = None)

# Rename coumns 
original_df.columns = ['id', 'annotation', 'text']

# Remove the ID numbers to know if it's an entity (T) or Attribute (A)
original_df['id_parsed'] = original_df.id.str.replace('\d', '')

# Remove text span and IDs (T & A) from column. This columns has the name of the attributes and etitites 
original_df['annotation_parsed'] = original_df.annotation.str.replace('[\dTA]', '')

# Group by id_parsed, annotation parsed and count results
df = original_df[['id_parsed', 'annotation_parsed']].groupby(['id_parsed', 'annotation_parsed'], sort = True).agg({'annotation_parsed':['count']}).copy()

# After the group by there's multi-index columns. We rename the columns to have the level that we want (count)
df.columns = df.columns.levels[1]

# sort_values by index. Here the trick is to also use sort_index!!
df.sort_values('count', ascending=False)\
    .sort_index(level=[0], ascending=[True])

                                        count
id_parsed annotation_parsed
A         without-service                  63
          location                         38
          duration                         16
          time                             10
          fake-information                  2
          with-service                      2
          reason                            1
T         circumstantial-information       65
          social-report                    39
          electricity                      33
          gasoline                         25
          water                             6
          gas                               4

In [14]:
pd.read_csv('')

,id,annotation,text,id_parsed,annotation_parsed
295,A129,location T167,NaN,A,location
5,A3,without-service T3,NaN,A,without-service
302,A132,location T171,NaN,A,location
280,T160,circumstantial-information 5975 5998,parroquia chiquinquira,T,circumstantial-information
270,A118,duration T153,NaN,A,duration
65,A30,duration T36,NaN,A,duration
264,T150,electricity 5495 5502,#apagon,T,electricity
258,T147,circumstantial-information 5303 5363,en la esquina de delicias parroquia san ...,T,circumstantial-information
272,A119,without-service T154,NaN,A,without-service
173,A80,without-service T94,NaN,A,without-service